baseURL = 'https://{{ environ('BASE_URL') }}/'
languageCode = '{{ environ('LANGUAGE' )}}'
title = '{{ environ('TITLE') }}'
theme = '{{ environ('THEME') }}'

[params]
custom_css = ["css/custom.css"]
custom_js = ["js/custom.js"]
